.tasks
  %h1 My Tasks

  = render 'new'

  %table.table.table-striped.tasks-list
    - unless @tasks.empty?
      %thead
        %tr
          %th
          %th
          %th Priority
          %th Due date
          %th
    %tbody
      = render @tasks